$XS: 36em; // 576px
$SM: 48em; // 768px
$MD: 62em; // 992px
$XL: 75em; // 1400px
$XXL: 87.5em; //> 1400px

@mixin responsive($breakpoint) {
    @if $breakpoint == XS {
        @media only screen and (max-width: $XS) {
            @content;
        }
    }
    @if $breakpoint == SM {
        @media only screen and (max-width: $SM) {
            @content;
        }
    }
    @if $breakpoint == MD {
        @media only screen and (max-width: $MD) {
            @content;
        }
    }
    @if $breakpoint == XL {
        @media only screen and (max-width: $XL) {
            @content;
        }
    }
    @if $breakpoint == XXL {
        @media only screen and (max-width: $XXL) {
            @content;
        }
    }
}
