@import "~/helper/mixin";
.wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    min-height: 45px;
    padding: 8px 16px 8px 44px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    transition: all linear 0.25s;
    background-color: var(--white-color);
    border: 1px solid transparent;
    text-decoration: none;
    user-select: none;
    overflow: hidden;

    + .wrapper {
        margin-left: 20px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.title + .icon,
.icon + .title {
    margin-left: 8px;
}

.icon {
    @include d-flex();
    @include circle(45px);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: var(--white-color);
    background-color: var(--primary-color);
    transition: all ease 0.3s;
    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: -180px;
        width: 200px;
        height: 100%;
        background-color: var(--primary-color);
        transition: all ease 0.3s;
        z-index: -1;
    }
}

// Button types:
.primary {
    background: var(--primary-color);
    color: var(--white-color);
}

.outline {
    border-color: var(--primary-color);
    color: var(--primary-color);

    &:hover {
        color: var(--white-color);
        padding: 8px 44px 8px 16px;
        .icon.left {
            left: calc(100% - 45px);
        }

        .title {
            z-index: 1;
        }
    }

    &.secondary {
        border-color: rgba(22, 24, 35, 0.12);
        color: var(--text-color);
        font-weight: 500;

        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
        }
    }
}

.rounded {
    border-radius: 999px;
}

// Button size:
.smaill {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 148px;
    padding: 14px 16px;
}
