@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
:root {
    --font-family: "Roboto", sans-serif;

    --primary-color: #72b626;
    --white-color: #fff;
    --text-color: #666;
    --silver-color: #eee;
    --black-color: #222;
    --bg-color: #f6f6f7;
    --body-color: #fff;

    --max-width: 1440px;
}

[data-theme="dark"] {
    --primary-color: #ffb400;
    --bg-color: #313136;
    --body-color: #111111;
    --text-color: #fff;
    --silver-color: #363636;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 1rem ~ 10px
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--body-color);
    overflow: overlay;
    transition: background-color ease 0.3s;
}

// custom scrollbar:
html *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 43px;
    background-color: var(--primary-color);
}
