@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
:root {
    --font-family: "Roboto", sans-serif;
    --second-font: "Poppins", sans-serif;

    --primary-color: #72b626;
    --white-color: #fff;
    --text-color: #666;
    --silver-color: #eee;
    --black-color: #222;
    --bg-color: #f6f6f7;
    --body-color: #fff;
    --border-color: rgba(0, 0, 0, 0.1);
    --mark-title-color: rgba(30, 37, 48, 0.07);
    --scrollbar-color: rgba(114, 182, 38, 0.7);
    --max-width: 1200px;
}

[data-theme="dark"] {
    --primary-color: #ffb400;
    --bg-color: #313136;
    --body-color: #111111;
    --text-color: #fff;
    --silver-color: #363636;
    --border-color: rgba(255, 255, 255, 0.1);
    --mark-title-color: rgb(255 255 255 / 0.07);
    --scrollbar-color: rgba(255, 180, 0, 0.7);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 1rem ~ 10px
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--body-color);
    overflow: overlay;
    transition: all ease 0.3s;
}

// custom scrollbar:
html *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 43px;
    background-color: var(--scrollbar-color);
}

a[href] {
    text-decoration: none;
    color: inherit;
    transition: all ease 0.3s;
    &:hover {
        color: var(--primary-color);
    }
}

.slide {
    -webkit-animation: slide 0.5s cubic-bezier(1, -0.01, 0.64, 1.02) forwards;
    animation: slide 0.5s cubic-bezier(1, -0.01, 0.64, 1.02) forwards;
    background-color: var(--silver-color);
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 997;
}

@keyframes slide {
    0% {
        opacity: 1;
        top: 0;
    }

    99% {
        opacity: 1;
        top: 99%;
    }

    to {
        display: none;
        opacity: 0;
        top: 100%;
    }
}
