.wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 990;
}

.spin {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: 8px solid rgba(255, 255, 255, 0.1);
    border-top: 8px solid var(--primary-color);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    animation: spin 1s ease infinite;

    &::after {
        position: absolute;
        content: "";
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
